<ui-view>
    <div class="row">
        <div class="col-md-2">
            <a href="#!/teacher/add" class="btn btn-sm btn-primary">
            <i class="glyphicon glyphicon-plus"></i>
            &nbsp;添加
        </a>
        </div>
    </div>
    <br>
    <table class="table table-bordered">
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>用户名</th>
            <th>邮箱</th>
            <th>性别</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="list in lists" ng-hide="list._delete">
            <td>{{ $index + 1 }}</td>
            <td>{{ list.name }}</td>
            <td>{{ list.username }}</td>
            <td>{{ list.email }}</td>
            <td>{{ list.sex }}</td>
            <td>
                <a href="#!/teacher/view/{{ list.id }}" class="btn btn-xs btn-success">
                    <i class="glyphicon glyphicon-search"></i>
                    查看
                </a>
                <a href="#!/teacher/edit/{{ list.id }}" class="btn btn-xs btn-warning">
                    <i class="glyphicon glyphicon-pencil"></i>
                    编辑
                </a>
                <button ng-click="delete(list)" class="btn btn-xs btn-danger">
                    <i class="glyphicon glyphicon-trash"></i>
                    删除
                </button>
            </td>
        </tr>
    </table>
</ui-view>
