<ui-view>
  <table class="table table-bordered table-hover">
    <a href="#!/teacher/add" class="btn btn-sm btn-primary">
      <i class="glyphicon glyphicon-plus"></i>
      添加
    </a>
    <tr>
      <th>序号</th>
      <th>姓名</th>
      <th>用户名</th>
      <th>邮箱</th>
      <th>性别</th>
      <th>操作</th>
    </tr>
    <tr ng-repeat="_list in list">
      <td>{{ $index + 1 }}</td>
      <td>{{ _list.name }}</td>
      <td>{{ _list.username }}</td>
      <td>{{ _list.email }}</td>
      <td>{{ _list.sex }}</td>
      <td>
        <a href="#" class="btn btn-xs btn-primary">
          <i class="glyphicon glyphicon-pencil"></i>
          编辑
        </a>
        <button class="btn btn-xs btn-danger">
          <i class="glyphicon glyphicon-trash"></i>
          删除
        </button>
      </td>
    </tr>
  </table>
</ui-view>
