<ui-view>
    <div class="row">
        <div class="col-md-2">
            <a href="#!/klass/add" class="btn btn-sm btn-primary">
                <i class="glyphicon glyphicon-plus"></i>
                &nbsp;添加
            </a>
        </div>
    </div>
    <br>
    <table class="table table-bordered">
        <tr>
            <th>序号</th>
            <th>名称</th>
            <th>辅导员</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="list in lists" ng-hide="list._delete">
            <td>{{ $index + 1 }}</td>
            <td>{{ list.name }}</td>
            <td>{{ list.teacher.name }}</td>
            <td>
                <a href="#!/klass/view/{{ list.id }}" class="btn btn-xs btn-success">
                    <i class="glyphicon glyphicon-search"></i>
                    查看
                </a>
                <a href="#!/klass/edit/{{ list.id }}" class="btn btn-xs btn-warning">
                    <i class="glyphicon glyphicon-pencil"></i>
                    编辑
                </a>
                <button ng-click="delete(list)" class="btn btn-xs btn-danger">
                    <i class="glyphicon glyphicon-trash"></i> 删除
                </button>
            </td>
        </tr>
    </table>
</ui-view>
