<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/teacher">梦云智</a>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-show="route.data.show" ng-class="{'active': isActive(route)}" ng-repeat="route in routes"><a ui-sref="{{route.name}}">{{ route.data.title }}</a></li>
            </ul>
        </div>
    </div>
</nav>
